* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: lightgrey;
}

.shop {
    
    padding: 30px 30px;
    background-color: white;
}

.images {
    position:relative;
    
    
}

.badges {
    position: absolute;
    bottom: 20px;
    left: 0;
    
}

.badges div {
    display: inline-block;
    padding: 4px;
    color: white;
    font-weight: bold;
}

.bg_red {
    background-color: red;
    
}

.bg_green {
    background-color: green;
}

.like {
    color: black;
    position: absolute;
    top: 5px;
    right:0;
}

.title {
    font-weight: bold;
}

.red {
    color: red;
}

.text_line {
    text-decoration: line-through;
}

