* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background-color: lightgrey;
}

.shop {
    
    padding: 30px 30px;
    background-color: white;
}

.product {
    display: inline-block;
}

.images {
    position:relative;
    display: inline-block;

}
   
.img_1 {
    display: block;
}

.img_2 {
    display: none;
}

.img_change:hover .img_1 {
    display: none;
}

.img_change:hover .img_2{
    display: block;

}

.badges {
    position: absolute;
    bottom: 20px;
    left: 0;
    
}

.badges div {
    display: inline-block;
    padding: 4px;
    color: white;
    font-weight: bold;
}

.bg_red {
    background-color: red;
    
}

.bg_green {
    background-color: green;
}

.like {
    padding: 12px;
    font-size: 25px;
    color: black;
    background-color: white;
    position: absolute;
    top: 20px;
    right:0;
}

.title {
    font-weight: bold;
}

.red {
    color: red;
}

.text_line {
    text-decoration: line-through;
}

